.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-decoration: none;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
}
@media screen and (max-width:767px){
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;

    } 
}
.header__lang-link:hover{
    opacity: .8;
    transition: all .2s ease-in-out;
}