.photo-grid {
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
    margin: 92px 0 92px 0;
}
@media screen and (min-width:1024px) and (max-width:1279px){
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
    }    
}
@media screen and (min-width:768px) and (max-width:1023px){
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
    }   
}
@media screen and (max-width:767px){
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 16px;
        margin: 69px 0 64px 0;
    }  
}