.cover__subtitle {
    position: absolute;
    top: 58%;
    left: 35%;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    z-index: 2;
    text-align: center;
    margin:0;
}

@media screen and (min-width:1024px) and (max-width:1279px){
    .cover__subtitle {

        top: 60%;
        left: 33%;
        font-size: 18px;
        line-height: 22px;

    } 
}
@media screen and (min-width:768px) and (max-width:1023px){
    .cover__subtitle {
        top: 61%;
        left: 27%;
        font-size: 18px;
        line-height: 22px;
    } 
}

@media screen and (max-width:767px){
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        top: 57%;
        left: 8%;
    }      
}