.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    z-index: 2;
    text-align: center;
    margin:0;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
}
@media screen and (min-width:1024px) and (max-width:1279px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    } 
}
@media screen and (min-width:768px) and (max-width:1023px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    } 
}

@media screen and (max-width:767px){
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }      
}