.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
}
.place__link:hover{
    opacity: .7;
    transition: all .2s ease-in-out;
}