.footer__item {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
}
@media screen and (max-width:767px){
    .footer__item {
        font-size: 24px;
        line-height: 24px; 
    }     
}
.footer__item:hover{
    opacity: .7;
    transition: all .2s ease-in-out;
}