.footer {
    margin: 92px 0px 24px 0px;
display: flex;
flex-direction: row;
width: 1184px;
height: 18px;
justify-content: space-between;

}
@media screen and (min-width:1024px) and (max-width:1279px){
    .footer {
    width: 928px;
    height: 18px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .footer {
    width: 720px;
    height: 18px;
    }
}
@media screen and (max-width:767px){
    .footer {
        margin: 64px 0px 24px 0px;
    flex-direction: column;
    width: 186px;
    height: 310px;
    }
}